body {
  background: #343434;
  color: #fff;
}

.site-header {
  padding: 70px 0;
  position: relative;
}

@mixin block($backgroundColor) {
  background: $backgroundColor;
  height: 70px;
  width: 200px;
  transition: width 0.5s;
}

.r {
  margin: 0 auto;
  width: 200px;

  .r1 {
    @include block(#db7676);
    border-top-right-radius: 70px;
  }
  .r2 {
    @include block(#bb5252);
    border-bottom-right-radius: 70px;
  }
  .r3 {
    @include block(#e69393);
    border-top-right-radius: 70px;
  }
}