@import "variables";

body {
  background: $colorBackground;
  color: $colorForeground;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
}

h1 {
  background: url("/bg-concrete.png"), linear-gradient(to bottom, darken($colorTop, 15%) 0, darken($colorTop, 7%) 20px, $colorTop 100%);
  border-top: 1px solid darken($colorTop, 13%);
  color: $colorForeground;
  font-size: 36px;
  line-height: 40px;
  padding: 20px 15px 23px 15px;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3), 0 0 4px rgba(255, 255, 255, 0.5);
}

h2 {
  background: url("/bg-concrete.png"), $colorMiddle;
  padding: 10px 15px 10px 15px;
}

p {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 20px 15px 0 15px;
}

a {
  color: $colorTop;
  font-weight: 400;
  text-decoration: none;
}

footer {
  background: url("/bg-concrete.png");
  margin-top: 40px;
  padding: 20px 20px 60px 20px;
}
