@import "variables";

.blog__blog-post-meta-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  margin: 0 -5px 19px -5px;
  padding: 10px 0;
}

.blog__see-all-posts-link {
  color: $colorForeground;
  font-weight: 200;
  text-decoration: none;
  text-shadow: none;
}

.blog__blog-post-date {
  text-align: right;
  text-shadow: none;
}

.blog__blog-post-title {
  padding-top: 0;
}

.blog__embed {
  padding: 20px 15px 0 15px;
}
