@import "variables";

@mixin backgroundBlock($color) {
  align-items: stretch;
  background: url("/bg-concrete.png") 100% 0, linear-gradient(to right, darken($color, 10%) 0, darken($color, 5%) 100%);
  display: flex;
  justify-content: space-between;
  height: 40px;
}

@mixin foregroundBlock($color) {
  background: $color url("/bg-concrete.png");
  flex: 1;
  height: 40px;
  max-width: 50%;
}

.site-header {
  .r-bg {
    padding-top: 40px;
    z-index: 100;

    .r-bg__top {
      @include backgroundBlock($colorTop);
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 101;
    }

    .r-bg__middle {
      @include backgroundBlock($colorMiddle);
    }

    .r-bg__bottom {
      @include backgroundBlock($colorBottom);
    }
  }

  .r-fg__top {
    @include foregroundBlock($colorTop);
    border-top-right-radius: 40px;
  }

  .r-fg__middle {
    @include foregroundBlock($colorMiddle);
    border-bottom-right-radius: 40px;
  }

  .r-fg__bottom {
    @include foregroundBlock($colorBottom);
    clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 100%, 0 100%);
  }

  .header-link {
    align-items: center;
    color: $colorForeground;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0 10px;
    text-decoration: none;
  }
}
